html, body{
    margin:0;
    padding:0;
    height:100%;
    background: rgba(250,250,250,1);
}
body{
    font-family: Helvetica, Arial, sans-serif;
}

/*Layout*/
.container{
    height:100%;
    width:100%; !IMPORTANT
}
.container .canvas{
    height:100%;
    width: 80%;
}
.container .canvas.loading{
    background: url('../assets/img/spinner.gif') 50% 50% no-repeat;
}
.container .canvas .canvas-inner{
    height: 100%;
    width: 100%;
}
.container .plane-chart{
    position:absolute;
    height:100%;
    width: 20%;
    left:80%;
    top:0;
}
.container .col-left{
    position:absolute;
    height:100%;
    width:20%;
    left:0;
    top:0;
    overflow:hidden;
    padding: 50px 0 0 20px;
}
.col-left .route-chart{
    position:absolute;
    top: 200px;
    bottom:0;
    overflow:scroll;
}
.col-left .control{
}
h1,h2{
    padding: 0 0 15px;
}
h1{
    font-size: 1.6em;
}
h2{
    font-size: 1.35em;
}
span.meta{
    font-size: 0.8em;
    display:block;
}

/*Tooltip*/
.custom-tooltip{
    position: absolute;
    top: -9999px;
    padding: 5px 8px;
    background: #222;
    color: #fff;
    font-weight:bold;
}
.custom-tooltip span{
    font-size: 0.8em;
    font-weight:normal;
}

/*SVG drawing styling*/
.graticule {
    fill: none;
    stroke: #aaa;
    stroke-width: .5px;
    stroke-opacity: .5;
}
.outline{
    fill:#DAE6DC;
    stroke-width:1px;
    stroke:#222;
}
.land {
    fill: #fff;
    stroke:#aaa;
    stroke-width:.5px;
}
.countries{
    fill: none;
    stroke:#aaa;
    stroke-width:.5px;
}
.routes{
    fill: none;
    stroke: #222;
    stroke-width:.2px;
    stroke-opacity:0.6;
}
.hover-route{
    fill:none;
    stroke-width:1.5px;
    stroke:#03afeb;
    stroke-opacity:1;
}

.airport{
    fill: #222;
    /*fill: #f15a29;*/
    fill-opacity: 0.1;
}
.connected{
    fill: #f15a29;
    fill-opacity: 0.8;
}
.connected:hover{
    stroke:#fff;
    stroke-width: 1.5px;
    fill-opacity: 1;
    fill: #03afeb;
}
.center{
    stroke:#fff;
    stroke-width:2px;
    fill:#222;
    fill-opacity:1;
}
.hover{
    fill: #03afeb;
    stroke: #fff;
    stroke-width: 2px;
}

.mouse-range{
    fill-opacity:0.05;
    stroke:#000;
    stroke-width:.5px;
    stroke-dasharray:3,2;
}

/* override default bootstrap table */
.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr.airport-hover>td{
    color: #03afeb; !IMPORTANT
    font-weight:bold; !IMPORTANT
    background-color: (250,250,250,0.6); !IMPORTANT
}
.table-hover>tbody>tr:hover>td .label-default,
.table-hover>tbody>tr.airport-hover>td .label-default{
    background-color: #03afeb; !important
}

/*plane-chart*/
.plane-chart-inner{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
.range-tick line{
    fill:none;
    stroke:#666;
    stroke-width:0.5;
}
.range-tick.minor line{
    stroke-opacity:0.5;
}
.range-tick.minor text{
    font-size:9px;
}
.range-tick.major text{
    font-size:12px;
}

.model circle{
    fill:#ddd;
    stroke:#fff;
    stroke-width:1.5px;
}
.model circle{
    stroke-width:3px;
}
.model .pax-range{
    stroke-width:3px;
    stroke-opacity:0.1;
    stroke:#222;
}
.model:hover .pax-range{
    stroke-opacity:0.7;
}