<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/jquery-ui-1.10.4.custom.min.css"/>
    <link rel="stylesheet" href="css/style.css" />
    <title>Workspace</title>
</head>
<body>
<div class="container">
    <div class="canvas loading"></div>
    <div class="plane-chart"></div>

    <div class="col-left">
        <div class="control">
            <h1>Flying From?</h1>
            <div class="input-group">
                <span class="input-group-addon">City or Airport</span>
                <input type="text" class="form-control" placeholder="e.g. 'BOS' or 'Boston'">
            </div>
        </div>

        <div class="route-chart"></div>
    </div>

    <div class="custom-tooltip"></div>
</div>
</body>

<!--templates-->
<script id="summary-template" type="text/html">
    <h2>
        <%= name %> (<%= iata %>)
        <span class="meta"><%=city%>, <%=country%></span>
    </h2>
</script>

<script id="table-template" type="text/html">
    <table class="table table-condensed table-hover">
        <tr>
            <th>Destination</th>
            <th>Distance</th>
        </tr>
        <% _.each(routes, function(route){%>
            <tr>
                <td id="<%= route.dest %>" class="dest-iata"><%= route.dest %>
                    <span class="meta"><%= route.destCity %></span>
                    <span class="meta">Operated by <%= route.airline %> using <%= route.equipment %></span>
                </td>
                <td><%= route.distString %></td>
            </tr>
        <%}); %>
    </table>
</script>

<!--Scripts-->
<script type="text/javascript" src="js/require.js" data-main="js/bootstrap.js"></script>

</html>